#loginPage > div{
    display: flex;
    background-color: #E3E3E3;
    border-radius: 50px;
    overflow: hidden;
    height: fit-content;
}

form{
    text-align: center;
    margin: 50px
}

form div{
    display: flex;
    flex-direction: column;
    text-align: start;
    color: gray;
    background-color: white;
    padding: 3px;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
}

input{
    outline: none;
    border: none;
    padding: 10px;
}

input[type=button]{
    background-color: var(--primary-focus-color);
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    margin: auto;
}

#loginPage{
    display: flex;
    justify-content: center;
    padding-top: calc(64px + 20px);

    background-image: url("./../ressources/Vector\ 1.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    min-height: calc(100vh - 64px - 20px);
}

.onBackground{
    background-image: url("./../ressources/onBackground.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 500px;
    height: 600px;
    background-size: cover;
    bottom: 0;
    right: 0;
    position: absolute;
}

.titlelogo{
    display: flex;
    flex-direction: row;
    background-color: #00000000;
    color: black;
    align-items: center;
    justify-content: space-between;
}

.titlelogo img{
    width: 50px;
    height: 50px;
    margin: 20px;
}